 [Unit]
Description=FIBER Service
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
Environment='LOGURU_LEVEL=INFO'
ExecStart=python /app/fiber/core.py -c /app/config/config.yaml

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target


